<h1>Page 3</h1>
<p>This is the Third page in the site.</p>

<p>Since his entry into the industry, Hrithik has parlayed the natural gift of symmetrical features and a tall athletic frame 
into unimaginable standards. Through unparalleled work ethic, sheer honesty, talent, and commitment as an actor, he also effectively 
redefined the Hindi film hero. Actors would now have to act and dance and fight for themselves like never before.
</p>

<p>In 2019, Hrithik continued taking on challenging roles as he marked two decades in the movies. In Super 30 (2019) he played 
the character of a Bihari Mathematician, Hrithik effortlessly slipped into the shoes of real-life Math genius Anand Kumar. 
He followed this up with War (2019), a larger-than-life Intelligence Agent gone rogue, while on a covert mission. 
Hrithik Roshan added act & action to his character. The actor aced at adding mystery to the thrilling story line with his screen 
presence as Kabir, which is considered one of the most charismatic characters he has played till date on screen.</p>