<h1>Page 2</h1>
<p>This is the Second page in the site.</p>

<p>Roshan received his 3rd Filmfare Award for Best Actor in 2006 for his performance as an enigmatic master thief in the action 
film Dhoom 2, with which he redefined style and action and set new bars. He established himself as a major action star. 
He took stylized action to a whole new level with Bang Bang in 2014, which did massive business at the box office.
</p>

<p>In 2012, he created history in Indian cinema when his film, Agneepath minted a whopping 25 crs only on its opening day. 
That is the star power and pull of Hrithik Roshan.</p>